
.sec
{
    margin-left:30%;
}

.form-group
{
    width:50%;
    margin-left:25%;
}
.btn-secondary
{
    margin-left:50%;
}
.btn-primary
{
margin-left:75%;
}
.search 
{
    width:25%;
}
.select
{
    width:20%;
}
.date
{
    width:20%;
}